.expert-home {
  background: #272727;
  padding: 20px;
  border-radius: 12px;
}

.profile-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgb(231, 120, 17);
  padding: 20px;
  border-radius: 12px;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.profile-img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
}

.profile-details {
  flex: 1;
  margin-left: 20px;
  color: #f9f9f9;
  font-size: x-large;
}

.booking-card {
  background: #272727;
  padding: 15px;
  border-radius: 8px;
  width: 220px;
  text-align: center;
  box-shadow: 4px 6px rgba(0,0,0,0.9);
  color: rgb(231, 120, 17);
}

.buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

.accept {
  background: #28a745;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 6px;
}

.decline {
  background: #dc3545;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 6px;
}

.carousel-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.carousel-img {
  width: 400px;
  height: 250px;
  object-fit: cover;
  border-radius: 8px;
}

.arrow {
  background: transparent;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  margin: 0 10px;
}
